<html>
	<head>
	</head>
	<body>
	<form action="">
		<input id="On" type="button" value="On" />
		<input id="Off" type="button" value="Off" />
		<input id="Color" />
		<select id="Mode">
			<option value="police">Police</option>
			<option value="romantic">Romantic</option>
			<option value="macbook">Macbook Pro</option>
		</select>

	</form>
	<script src="/javascript/jquery.min.js"></script>
	<script>
		$('#On').on('click', function(e) {
				e.preventDefault();
				$.get('/on');
		});
		$('#Off').on('click', function(e) {
				e.preventDefault();
				$.get('/off');
		});		
		$('#Mode').on('change', function(e) {
				e.preventDefault();
				$.get('/mode/'+e.target.value);
		});		
		$('#Color').on('keyup', function(e) {
				var isRGB = /\d{1,3},\d{1,3},\d{1,3}/.test(e.target.value);
				if(isRGB) {
					$.get('/rgb/'+e.target.value);
				}
		});
	</script>
	</body>
</html>
